@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  background-color: #192444;
  margin: 1%;
}

h1 {
  font-size: 4rem;
  text-align: center;
  font-family:fantasy;
  color: gold;
}

.container_first,.card_container1, .card_container3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  padding-right: 15px;
}

.linechart {
  background-color: black;
}

.goldcard, .silvercard, .platinumcard, .Palladiumcard{
  flex-direction:column;
  display: flex;
  flex-wrap: wrap;
  position:relative;
  padding: 10px;
  margin-right: 12px;
  width: 100%;
}
