@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  font-family: 'Roboto', sans-serif;
/*   background-color: #192444; */
  margin: 1%;
}

h1 {
  font-size: 4rem;
  text-align: center;
  font-family:fantasy;
  color: gold;
}

.container_first,.card_container1, .card_container3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  padding-right: 15px;
}

.linechart {
  background-color: black;
}

.goldcard, .silvercard, .platinumcard, .Palladiumcard{
  flex-direction:column;
  display: flex;
  flex-wrap: wrap;
  position:relative;
  padding: 10px;
  margin-right: 12px;
  width: 100%;
  color: white;
}
/* 
.percentage_gold, .percentage_silver, .percentage_platinum, .percentage_palladium ,.country_dropdown{
  flex-direction:column;
  display: flex;
  flex-wrap: wrap;
} */

#percentage_gold,#percentage_silver,#percentage_platinum, 
#percentage_palladium ,#country_dropdown{
  flex-direction:column;
  display:flex;
  flex-wrap:wrap;
  text-align: center;
  justify-content: space-between;
}

#my_table {
  color: white;
  background-color: black;
}

# radio_items {
  background-color: #192444;
}

.linechart1 {
  overflow-x: auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.mytable {
  overflow-x: auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.radio {
  align-items: center;
  text-align: center;
  flex-direction:column;
  display: flex;
  flex-wrap: wrap;
}

#rowstable {
  align-items: left;
  text-align: left;
}

.location_name {
  text-align: right;
}
